@charset "utf-8";
/* CSS Document */

@font-face {
	font-family:alisandra;
	src: url(../font/Alisandra.ttf);
}

@font-face {
	font-family:gloria;
	src: url(../font/Gloria.ttf);
}

@font-face {
	font-family:variane;
	src: url(../font/Variane.ttf);
}

body {
	width:100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

/*--------------------------WRAPPER-------------------------*/

.wrapper {
	width:100%;
	height:100%;	
	top:0;
	left:0;
	position:absolute;
}

/*--------------------------HEADER--------------------------*/

.header {
	width:100%;
	height:60px;
	position:fixed;
	background:#FFF;
	border-bottom:#CCC solid 0.5px;
	z-index:9999;
}
	
	.header .logo {
		float:left;
		width:20%;
		height:100%;
		font-family: variane;
		font-size:5vh;
		text-align:right;
		line-height:10vh;
	}
	
		.header .logo a {
			text-decoration:none;
			color:#000;
		}
		
		.header .logo a:hover {
			color:#3897f0;
		}
	
	.header .search-bar {
		float:left;
		width:40%;
		height:100%;
	}
	
		.header .search-bar #searchbar {
			margin-top:10px;
			margin-left:60px;
			padding-left:10px;
			width:50%;
			height:50%;
			border:0.5px solid #CCC;
			border-radius:4px;	
		}
	
	.header .menu {
		float:left;
		width:40%;
		height:100%;
	}
	
		.header .menu a {
			text-decoration:none;
			color:#003569	;
			margin-left:20px;
			line-height:10vh;
		}
		
		.header .menu a:hover {
			color:#3897f0;
		}
	
	.header .select {
		text-decoration:none;
		color:#3897f0;
		margin-left:20px;
		line-height:10vh;
	}
	
/*---------------------------MAIN---------------------------*/

.main-content {
	width:100%;
	min-height:500px;
}
	
	.main-content .container {
		margin:auto;
		padding-top:100px;
		width:70%;
		min-height:500px;
		-webkit-column-count: 3;
		-webkit-column-gap: 25px;
		-webkit-column-fill: auto;
		-moz-column-count: 3;
		-moz-column-gap: 25px;
		column-count: 3;
		column-gap: 25px;
		column-fill: auto;
		column-width:200px;
	}
	
		.main-content .container .panel {
			margin-bottom:20px;
			min-height:200px;
			display:inline-block;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
			cursor:pointer;
			-webkit-transition: .25s linear;
			-moz-transition: .25s linear;
		}
		
		.main-content .container:hover .panel:not(:hover) {
			opacity:0.25;
		}
		
			.main-content .container .panel .title {
				width:100%;
				height:10%;
				border-bottom:#CCC solid 0.5px;
			}
			
			.main-content .container .panel .content {
				width:100%;
				max-height:l00px;
			}
	
/*--------------------------FOOTER--------------------------*/

.footer {
	width:100%;
	height:10%;
}

	.footer-content {
		min-height:50px;	
	}